
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400,600|Roboto:400,500,900');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
	text-decoration: none;
	color: #4c4c4c;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	max-width: 1170px;
	margin: auto;
}

.blue {
	color: #3971ff;
}
.page-wrapper {
	margin: auto;
	width: 1350px;
	background: #f3f3f3;
}
.sidebar {
	float: left;
	width: 216px;
	background: ;
}
.container {
	margin-left: 216px;
	border-left: 1px solid #a7a7a7;
	border-right: 1px solid #a7a7a7;
	width: 1134px;
	background: #fff;
}
.sidebar__wrapper {
	margin-top: 59px;
	margin-left: 30px;
	margin-right: 29px;
}
.sidebar__logo {
	margin-bottom: 26px;
}
.sidebar__logo--top {
	display: block;
	padding-bottom: 20px;
	font-family: 'Exo 2', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #333333;
}
.sidebar__logo--bottom {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #3971ff;
}
.sidebar__menu-item {
	display: block;
	margin-left: 3px;
	padding-top: 23px;
	padding-bottom: 17px;
	border-bottom: 1px solid #a7a7a7;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	color: #a7a7a7;
}
.sidebar__menu-item--noborder {
	border-bottom: 0;
}
.sidebar__menu-item:hover {
	color: #4c4c4c;
	font-weight: 600;
}
.sidebar__menu-item:before {
	content: ' ';
	display: inline-block;
	margin-right: 7px;
	width: 12px;
	height: 2px;
	vertical-align: middle;
	background: #9cb6f9;
	transition: all 350ms;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.sidebar__menu-item:hover:before {
	background-color: #6b94fc;
	width: 24px;
}
.header {
	height: 587px;
	background: url(../img/header-bg.jpg) #eaebed;
}
.header__container {
	width: 530px;
	height: 370px;
	padding-left: 475px;
	padding-top: 105px;
}
.header__hello {
	display: block;
	margin-bottom: 4px;
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
.header__name--first {
	font-family: 'Exo 2', sans-serif;
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
}
.header__name--last {
	font-family: 'Exo 2', sans-serif;
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
	color: #3971ff;
}
.header__description {
	display: block;
	padding: 12px 0px 10px 19px;
	margin-top: 19px;
	width: 180px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #3971ff;
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
}
.header__text {
	margin-top: 42px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
.header__buttons {
	padding-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.header__buttons--portfolio {
	position:relative;
	display: inline-block;
	width: 177px;
	padding: 15px 0;
}
.header__buttons--portfolio:hover {
	color: #3971ff;
}
.header__buttons--portfolio:after {
	position: absolute;
	top: 43px;
	left: 0;
	width: 28%;
	border-bottom: 2px solid #3971ff;
	content: "";
	transition: all 350ms;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.header__buttons--portfolio:hover:after {
	width: 90%;
}
.header__buttons--about {
	position:relative;
	display: inline-block;
	width: 177px;
	padding: 15px 0;
}
.header__buttons--about:hover {
	color: #3971ff;
}
.header__buttons--about:after {
	position: absolute;
	top: 43px;
	left: 0;
	width: 28%;
	border-bottom: 2px solid #3971ff;
	content: "";
	transition: all 350ms;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.header__buttons--about:hover:after {
	width: 90%;
}
.skills {
	background: #fff;
	height: 384px;
}
.section--wrapper {
	padding: 95px 95px;
}
.section__header {
	padding-bottom: 27px;
	margin-bottom: 48px;
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	background: url(../img/heading_line.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.skills__progress-block {
	float: left;
	text-transform: uppercase;
	font-size: 16px;
}
.skills__progress-block--padding {
	padding-right: 30px;
}
.progress-block__text {
	display: inline-block;
	padding: 50px 0 20px;
}
.progress-block__percentage {
	float: right;
	padding-top: 50px;
}
.progress-bar {
	width: 445px;
	height: 5px;
	background: #b0c6ff;
}
.progress-bar--inner {
	position: relative;
	background: #3971ff;
	height: 5px;
	width: 90%;
}
.progress-bar--inner:after {
	content: "";
	position: absolute;
	top: 0;
	left: 100%;
	border: 2px solid transparent;
	border-left: 2px solid #3971ff;
	border-top: 3px solid #3971ff;
}
.education {
	padding-top: 94px;
	height: 618px;
	background: #f3f3f3;
}
.education__block {
	float: left;
	width: 437px;
	padding-top: 48px;
}
.education__header {
	text-transform: uppercase;
}
.education__number {
	display: block;
	float: left;
	height: 85px;
	padding-right: 28px;
	font-size: 30px;
}
.education__name {
	display: inline-block;
	padding-bottom: 20px;
	font-size: 24px;
	letter-spacing: 0px;
}
.education--hover:hover a {
	color: #3971ff;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.education--hover a {
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.education__description {
	display: block;
	padding-bottom: 13px;
	color: #4c4c4c;
}
.education__text {
	padding-top: 26px;
	line-height: 30px;
}
.education__block--padding-right {
	padding-right: 35px;
}
.education__block--padding-top {
	padding-top: 90px;
}
.experience {
	padding-top: 94px;
	height: 618px;
	background: #fff;
}
.experience__block {
	float: left;
	width: 437px;
	padding-top: 48px;
}
.experience__header {
	text-transform: uppercase;
}
.experience__number {
	display: block;
	float: left;
	height: 85px;
	padding-right: 28px;
	font-size: 30px;
}
.experience__name {
	display: inline-block;
	padding-bottom: 20px;
	font-size: 24px;
	letter-spacing: 0px;
}
.experience--hover:hover a {
	color: #3971ff;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.experience--hover a {
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.experience__description {
	display: block;
	padding-bottom: 13px;
	color: #4c4c4c;
}
.experience__text {
	padding-top: 26px;
	line-height: 30px;
}
.experience__block--padding-right {
	padding-right: 35px;
}
.experience__block--padding-top {
	padding-top: 90px;
}
.portfolio {
	background: #f3f3f3;
	height: 1140px;
}
.portfolio__item {
	float: left;
	width: 445px;
	padding-top: 52px;
	position: relative;
}
.portfolio__item--padding-right {
	padding-right: 30px;
}
.portfolio__item__image--bg {
	background: #fff;
	position: absolute;
	width: 445px;
	height: 300px;
	display: none;

}
.portfolio__item__image {
	position: relative;
	float: left;
	width: 445px;
	height: 300px;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(229,229,229,1);
	-moz-box-shadow: 0px 0px 2px 2px rgba(229,229,229,1);
	box-shadow: 0px 0px 2px 2px rgba(229,229,229,1);


}
.portfolio__item__image:hover .portfolio__item__image--bg {
	opacity: 0.8;
	display: block;
	-webkit-box-shadow: 0px 10px 15px 3px rgba(204,204,204,1);
	-moz-box-shadow: 0px 10px 15px 3px rgba(204,204,204,1);
	box-shadow: 0px 10px 15px 3px rgba(204,204,204,1);


}
.portfolio__item__image:hover .portfolio__item__image--button {
	opacity: 1;
	display: block;
	z-index: 450;

}
.portfolio__item__image--button {
	position: absolute;
	padding: 70px 180px 90px;
	display: none;
	font-size: 141px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	color: #3971ff;

}
.portfolio__item__header {
	display: inline-block;
	padding-top: 47px;
	font-size: 24px;
	text-transform: uppercase;
}
.portfolio__item__text {
	padding-top: 12px;
	padding-bottom: 44px;
	line-height: 31px;
}
.recent-post {
	height: 580px;
}
.post-carousel--wrapper {
	width: 870px;
	height: 70px;
	padding-top: 24px;
	padding-left: 24px;
}

.post-carousel {
	float: left;
	text-align: center;
	margin-left: 50px;
}

.post-carousel__item {
	display: inline-block;
	position: relative;
}
.post-carousel__link {
	display: inline-block;
	margin-right: -4px;
	width: 99px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-bottom: 2px solid #4c4c4c;
}
.post-carousel__link--padding-left {
	padding-left: 40px;
}
.post-carousel__link--padding-right {
	padding-right: 35px;
}
.post-carousel__link:hover {
	color: #3971ff;
	border-bottom: 2px solid #3971ff;
}
.post-carousel__link:hover:after {
	content: "";
	position: absolute;
	top: 60px;
	left: 40px;
	border: 5px solid transparent;	border-bottom: 5px solid #3971ff;
}
.post-carousel__link--first:hover:after {
	left: 90px;
}
.post-carousel__link--active {
	color: #3971ff;
	border-bottom: 2px solid #3971ff;
}
.post-carousel__link--active:after {
	content: "";
	position: absolute;
	top: 60px;
	left: 40px;
	border: 5px solid transparent;	border-bottom: 5px solid #3971ff;
}
.post-carousel__arrow-left {
	margin-top: 45px;
	float: left;
	padding: 15px 20px;
	border: 2px solid #4c4c4c;
	border-radius: 50px;
}
.post-carousel__arrow-left:hover {
	color: #3971ff;
	border-color: #3971ff;
}
.post-carousel__arrow-right {
	margin-top: 45px;
	float: right;
	padding: 15px 20px;
	border: 2px solid #4c4c4c;
	border-radius: 50px;
}
.post-carousel__arrow-right:hover {
	color: #3971ff;
	border-color: #3971ff;
}
.recent-post__content {
	padding-top: 75px;	
	
}
.recent-post__image {
	float: left;
	padding-right: 30px;

}
.recent-post__heading {
	display: block;
	padding-top: 15px;
	padding-bottom: 12px;
	font-size: 24px;
	text-transform: uppercase;
}
.recent-post__date {
	display: block;
	padding-bottom: 32px;
}
.recent-post__text {
	line-height: 30px;
	padding-right: 15px;
	padding-bottom: 22px;
}

.recent-post__button {
	position:relative;
	display: inline-block;
	width: 177px;
	padding: 15px 0;
	font-weight: 500;
}
.recent-post__button:hover {
	color: #3971ff;

}
.recent-post__button:after {
	position: absolute;
	top: 49px;
	left: 0;
	width: 28%;
	border-bottom: 2px solid #3971ff;
	content: "";
	transition: all 350ms;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.recent-post__button:hover:after {
	width: 90%;
}
.pricing {
	background: #f3f3f3;
	height: 620px;
}
.pricing__block {
	float: left;
	padding: 51px 0;
	margin-top: 27px;
	width: 445px;
	background: #fff;
	height: 384px;
}
.pricing__block:hover {
	-webkit-box-shadow: 0px 7px 20px 1px rgba(195,195,195,1);
	-moz-box-shadow: 0px 7px 20px 1px rgba(195,195,195,1);
	box-shadow: 0px 7px 20px 1px rgba(195,195,195,1);
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.pricing__block--margin {
	margin-right: 30px;
}
.pricing__header {
	padding: 0 30px;
	display: block;
	padding-bottom: 38px;
	text-transform: uppercase;
	font-size: 24px;
}
.pricing__header--blue {
	font-weight: 900;
	color: #3971ff;
}
.pricing__text {
	padding: 0 30px;
	line-height: 31px;
	display: inline-block;
	padding-bottom: 17px;
}
.pricing__string  {
	padding: 0 30px;
	display: block;
	text-transform: uppercase;
	line-height: 63px;

}
.pricing__string--right{
	float: right;
}
.pricing__string--borders {
	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;
	line-height: 62px;
}
.pricing__button {
	position:relative;
	display: inline-block;
	width: 150px;
	margin-left: 175px;
	margin-top: 8px;
	padding: 15px 0;
	font-weight: 500;
	color: #3971ff;
}

.pricing__button:after {
	position: absolute;
	top: 43px;
	left: 0;
	width: 33%;
	border-bottom: 2px solid #3971ff;
	content: "";
	transition: all 350ms;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.pricing__button:hover:after {
	width: 90%;
}
.feedback {
	height: 505px;
	background: url(../img/feedback_bg.jpg);
	
}
.feedback-wrapper {
	text-align: center;
	margin-left: -25px;
}
.client-images {
	
	margin-top: 100px;
	margin-bottom: 45px;
}
.client-photo--active {
	margin: 0 25px;
	-webkit-box-shadow: 0px 7px 20px 1px rgba(195,195,195,1);
	-moz-box-shadow: 0px 7px 20px 1px rgba(195,195,195,1);
	box-shadow: 0px 7px 20px 1px rgba(195,195,195,1);
}
.client-name {
	display: block;
	text-transform: uppercase;
	font-size: 24px;
	padding-bottom: 20px;
}
.client-profession {
	display: block;
	padding-bottom: 43px;
}
.client-profession--blue {
	color: #3971ff;
}
.feedback__text {
	display: block;
	width: 910px;
	text-align: center;
	font-size: 17px;
	line-height: 30px;
}
.footer {
	background: #f3f3f3;
}
.footer__location {
	width: 260px;
	height: 115px;
	padding-top: 45px;
	padding-bottom: 98px;
}
.location__heading {
	display: block;
	padding-bottom: 15px;
	font-size: 24px;
	text-transform: uppercase;
}
.location__heading-logo {
	font-size: 48px;
	padding-right: 27px;
}
.location__adress {
	line-height: 30px;
}
.footer__location:hover .location__heading-logo{
	color: #3971ff;
}
.footer__contact {
	width: 260px;
	height: 115px;
}
.contact__heading {
	display: block;
	padding-bottom: 15px;
	font-size: 24px;
	text-transform: uppercase;
}
.contact__heading-logo {
	font-size: 48px;
	padding-right: 27px;

}
.footer__email:hover .contact__heading-logo{
	color: #3971ff;
}
.contact__email {
	display: block;
	line-height: 30px;
}
.footer__social {
	margin-top: 90px;
	font-size: 30px;
}
.social__item:hover {
	color: #3971ff;
}
.social__item--padding {
	padding-right: 34px;
}
.footer__left-section	{
	float: left;

}
.footer__right-section	{
	float: right;
	margin-right: 22px;
}
.footer__form {
	padding-top: 10px;
}
.form__name, 
.form__email, 
.form__interested, 
.form__text {
	display: block;
	margin-top: 11px;
	width: 542px;
	line-height: 67px;
	background: #f3f3f3;
	color: #4c4c4c;
	font-size: 17px;
	border: none;
	border-bottom: 1px solid #a7a7a7;
}
.form__interested {
	margin-top: 20px;
}
.form__text {
	margin-top: 15px;
	line-height: 20px;
	height: 120px;
	padding-top: 30px;
	resize: none;
}
.form__name:focus, 
.form__email:focus, 
.form__interested:focus, 
.form__text:focus {
	outline: none;
	border-bottom: 1px solid #3971ff;
}

.form__button {
	position:relative;
	display: inline-block;
	width: 177px;
	padding: 15px 0;
	margin-top: 33px;
	font-weight: 500;

}
.form__button:hover {
	color: #3971ff;

}
.form__button:after {
	position: absolute;
	top: 43px;
	left: 0;
	width: 28%;
	border-bottom: 2px solid #3971ff;
	content: "";
	transition: all 350ms;
	-moz-transition: all 350ms;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
}
.form__button:hover:after {
	width: 90%;
}