@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	body
    background-position: -100px -150px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  body
    background-position: -70px -110px
  .header
    line-height: 38px
  .header__phone--align
    text-align: right

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header__email
		font-size: 10px
	.header__phone
		font-size: 16px
	.social__link
		font-size: 12px
	.header__social
		text-align: right
	.header__search-button,
	.header__menu-button
		font-size: 15px
	body
    background-position: -10px -50px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
