@import "fonts"
@import "libs"
@import "vars"
@import "reset"
body
  background-image: url(../img/bg2.png)
  background-position: 0 -250px
  background-size: 100%
  background-repeat: repeat-y
.header
  text-align: center
.header__email
  font-weight: 100
  font-size: 16px
  line-height: 114px
  &:hover
    color: $accent-color
    text-decoration: underline
.header__phone
  font-weight: 900
  font-size: 20px
  line-height: 114px
.header__social
  margin: 0
.social__item
  display: inline-block
  padding: 0
.social__link
  color: #cdcdcf
  line-height: 114px
  &:hover
    color: $accent-color
.header__menu-button,
.header__search-button
  padding: 0
  background: none
  border: none
  font-size: 17px
  line-height: 38px
  &:hover
    color: $accent-color
  &:focus
    outline: none
.main
  background-color: #fafafa
  -webkit-box-shadow: 0px -20px 86px -5px rgba(230,230,230,.6)
  -moz-box-shadow: 0px -20px 86px -5px rgba(230,230,230,.6)
  box-shadow: 0px -20px 86px -5px rgba(230,230,230,.6)
.main__navbar
  list-style-type: none
  margin-top: 50px
.navbar__item
  display: inline-block
  margin-right: 35px
  &:last-child
    margin-right: 0
.navbar__link
  font-size: 15px
  padding: 8px 0
  color: $light-color
  &:hover
    border-bottom: 3px solid $accent-color
.wrapper
  margin: 0 5%
.main__search-button
  text-align: right
  font-size: 15px
  margin-top: 45px
  padding: 8px 0
  background-color: transparent
  border: none
  &:hover
    color: $accent-color
.main__content
  margin-top: 100px
.content__heading
  font-size: 54px
  margin: 40px 0
.content__text
  margin: 50px 0
  font-size: 18px
  max-width: 530px
.content__photo
  max-width: 253px
.main__list
  list-style-type: none
.main__list-item
  display: inline-block
.main__list-link
  text-transform: uppercase
  font-weight: 900
  border-bottom: 1px solid $default-color
.big-button
  line-height: 60px
  width: 270px
  background-color: $accent-color
  border: none
  color: #fff
  font-weight: 700
  font-family: $default-font
  letter-spacing: 0.7px
  border-radius: 6px
.content__button
  margin: 0 30px 50px 0
.content__action
  color: $accent-color
.advantages
  padding-top: 90px
.advantages__item
  min-height: 300px
  text-align: center
  padding: 50px 0
  &:hover
    -webkit-box-shadow: 0px 0px 96px -5px rgba(237,234,234,1)
    -moz-box-shadow: 0px 0px 96px -5px rgba(237,234,234,1)
    box-shadow: 0px 0px 96px -5px rgba(237,234,234,1)
.advantages__item:hover .advantages__icon
  color: $default-color
  &::after
    z-index: -1
    content: ''
    width: 28px
    height: 28px
    left: 0
    background-color: $accent-color
    border-radius: 50%
    position: absolute
.advantages__icon
  font-size: 40px
  z-index: 2
  position: relative
  color: $light-color
.advantages__text
  max-width: 80%
  margin: 0 auto
.advantages__par-top
  margin-bottom: 0
  font-size: 15px
  color: $accent-color
.advantages__par-bottom
  margin-top: 5px
  font-size: 22px
  font-weight: 700
  color: $accent-color
  text-decoration: underline
.advantages__par
  text-align: center
  margin: 100px 0
.section__heading
  font-size: 44px
  text-align: center
.solutions__desc
  text-align: center
  margin: auto
  margin-bottom: 50px
  max-width: 40%
.solutions__item
  position: relative
  min-height: 290px
  padding: 30px 40px 60px
  margin-bottom: 30px
  background-color: #fff
  -webkit-box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.08)
  -moz-box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.08)
  box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.08)
.solution__icon
  font-size: 35px
  z-index: 1
  color: $accent-color
  position: absolute
  right: 40px
  top: 50px
.icon-13
  font-size: 30px
.solution__heading
  font-size: 18px
.solution__task,
.solution__goal
  color: $light-color
  font-size: 12px
.solution__task-text
  font-size: 14px
  font-weight: 700
.solution__goal-text
  font-size: 14px
.solution__container
  padding-bottom: 10px
  max-width: 90%
.solution__button
  position: absolute
  background-color: transparent
  border: none
  color: #fead96
  font-size: 12px
  bottom: 35px
  left: 35px
.solutions__item:hover .solution__button
  color: $accent-color
.solutions__item:hover .solution__icon
  &::after
    z-index: -1
    content: ''
    width: 28px
    height: 28px
    left: 20px
    top: 20px
    background-color: $default-color
    border-radius: 50%
    position: absolute
.icon-6::after
    margin-left: 5px
.icon-9::after
    margin-left: 5px
.icon-10::after
    margin-left: 10px
.icon-11::after
    margin-left: 5px
.icon-13::after
    margin-left: 10px
.icon-14::after
    margin-left: 5px
.solution__hidden
  display: none
.systems__text
  max-width: 75%
  margin: 0 auto
  text-align: center
  margin-bottom: 50px
.solutions__load-button
  display: block
  margin: 0 auto
.menu--hidden
  text-align: center
  width: 100%
  margin: 0 auto
  background-color: #fff
  z-index: 999
  height: 70px
.main__navbar--fixed
  top: -23px
  margin: 0
  a
    padding: 25px 0
.fixed
  position: fixed
  left: 0
  right: 0
  width: 100%
.menu--hidden
  top: 0
.systems__icons
  list-style-type: none
  padding-left: 0
  text-align: center
.systems__icons-item
  display: inline-block
  margin: 0 13px
  line-height: 40px
.systems__icons-img
  max-width: 60px
  max-height: 25px
  filter: grayscale(100%) opacity(50%)
  &:hover
    filter: none
    cursor: pointer
.systems__buttons
  margin-top: 50px
  list-style-type: none
  text-align: center
.buttons__item
  display: inline-block
.buttons__button
  margin: 0 7px 10px
  text-transform: uppercase
  padding: 20px 30px
  background: none
  border: 1px solid $default-color
  border-radius: 5px
  font-size: 14px
  font-weight: 700
.button--bi
  background-color: $default-color
  color: #fff
.button--wms
  background-color: $accent-color
  color: #fff
  border: 1px solid $accent-color
.systems__erp-text
  margin-top: 40px
  font-size: 18px
  font-weight: 700
  text-align: center
.systems__list-heading
  margin-top: 40px
  font-size: 14px
  font-weight: 700
  text-align: center
.systems__checklist
  padding-left: 0
  margin-top: 40px
  list-style-type: none
.icon-15
  font-size: 18px
  margin-right: 10px
.checklist__item
  font-weight: 100
  font-size: 14px
.checklist__item:hover .icon-15
  color: $accent-color
.profit__heading
  margin-top: 40px
  font-size: 20px
.profit__item
  position: relative
.profit__item-text
  margin: 10px 0 10px 40px
  font-weight: 100
.profit__number
  font-weight: 700
  font-size: 14px
  position: absolute
  top: 10px
  background-color: $default-color
  padding: 2px 8px 1px
  border-radius: 50%
  color: #fff
.profit__item:hover .profit__number
  background-color: $accent-color
.why
  text-align: center
.why__text
  font-size: 18px
  margin-bottom: 45px
.why__item
  min-height: 290px
  &:hover
    -webkit-box-shadow: 0px 0px 96px -5px rgba(237,234,234,1)
    -moz-box-shadow: 0px 0px 96px -5px rgba(237,234,234,1)
    box-shadow: 0px 0px 96px -5px rgba(237,234,234,1)
    background-color: #fff
.why__item-icon
  display: inline-block
  padding-top: 45px
  font-size: 40px
  color: $light-color
  position: relative
  z-index: 1
.why__item-text
  max-width: 210px
  margin: auto
  margin-top: 45px
.why__item:hover .why__item-icon
  color: $default-color
  &::after
    z-index: -1
    content: ''
    width: 28px
    height: 28px
    left: 50%
    background-color: $accent-color
    border-radius: 50%
    position: absolute
.icon-19
  margin-left: -25px
  &::after
    margin-left: 15px
.icon-21
  margin-left: -10px
  &::after
    margin-left: 15px
.icon-22
  margin-left: -20px
  &::after
    margin-left: 20px
.icon-23
  margin-left: -5px
  &::after
    margin-left: 5px
.why__bottom-text
  margin-top: 40px
  margin-bottom: 70px
  font-size: 18px
  font-weight: 700
  color: $accent-color
  text-decoration: underline
.stages__item
  text-align: center
  min-height: 290px
  &:hover
    background-color: #fff
    -webkit-box-shadow: 0px -5px 28px -6px rgba(0,0,0,0.1)
    -moz-box-shadow: 0px -5px 28px -6px rgba(0,0,0,0.1)
    box-shadow: 0px -5px 28px -6px rgba(0,0,0,0.1)
    cursor: pointer
.stages__item:hover .stages__item-icon
  background-color: $accent-color
  color: #fff
.stages__item:hover .stages__item-desc
  color: $default-color
.stages__item-desc
  color: $light-color
.stages__item--active
  background-color: #fff
  -webkit-box-shadow: 0px -5px 28px -6px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px -5px 28px -6px rgba(0,0,0,0.1)
  box-shadow: 0px -5px 28px -6px rgba(0,0,0,0.1)
  .stages__item-icon
    background-color: $accent-color
    color: #fff
.stages__item-icon
  font-size: 40px
  padding: 20px
  margin-top: 40px
  display: inline-block
  color: $accent-color
  background-color: #fff
  border-radius: 50%
  -webkit-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.25)
  box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.25)
.icon-25
  font-size: 30px
  padding: 28px 35px 28px 20px
.stages__item-heading
  display: block
  margin-top: 30px
  margin-bottom: 20px
  font-size: 18px
  font-weight: 700
  text-transform: uppercase
.stages__open
  background-color: #fff
  -webkit-box-shadow: 0px 5px 42px -7px rgba(0,0,0,0.07)
  -moz-box-shadow: 0px 5px 42px -7px rgba(0,0,0,0.07)
  box-shadow: 0px 5px 42px -7px rgba(0,0,0,0.07)
  display: none
.stages__open-1
  display: block
.stages__open-heading
  display: block
  margin-top: 35px
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  color: $light-color
  position: relative
  z-index: 1
.stages__open-text
  font-size: 14px
  margin-bottom: 40px
.stages__mobile
  background-color: #fff
  padding: 10px 0
.stages__mobile
  .stages__open-heading
    margin-top: 0
  .stages__open-text
    margin-top: 0
    margin-bottom: 10px
.stages__open-step:hover .stages__open-heading
  color: $default-color
  &::after
    z-index: -1
    content: ''
    width: 24px
    height: 24px
    left: -5px
    background-color: $accent-color
    border-radius: 50%
    position: absolute
.stages__mobile
  display: none
.trust__heading
  margin-top: 90px
  margin-bottom: 50px
.trust__list
  list-style-type: none
  text-align: center
.trust__item
  display: inline-block
  margin: 10px 50px
.trust__img
  max-height: 40px
  filter: grayscale(100%) opacity(50%)
  &:hover
    filter: none
.whatif
  -webkit-box-shadow: 50px 116px 300px -49px rgba(0,0,0,0.07)
  -moz-box-shadow: 50px 116px 300px -49px rgba(0,0,0,0.07)
  box-shadow: 50px 116px 300px -49px rgba(0,0,0,0.07)
  margin-top: 120px
  padding-bottom: 50px
.whatif__heading
  text-align: left
  line-height: 50px
.whatif__photo
  display: block
  margin: 0 auto
  margin-bottom: 35px
.whatif__list
  list-style-type: none
  font-size: 14px
  text-decoration: underline
  margin: 0
.whatif__item
  margin: 5px 0
.whatif__order
  margin-top: 30px
  text-align: center
.whatif__button
  margin-right: 30px
  margin-bottom: 20px
  margin-left: -15px
.whatif__text
  display: inline-block
  color: $accent-color
.footer
  line-height: 115px
  text-align: center
.footer__copyright
  font-weight: 100
  padding: 0
  display: block
.footer__email
  font-weight: 100
  padding: 0
  display: block
  &:hover
    text-decoration: underline
.footer__phone
  font-weight: 900
  font-size: 20px
  padding: 0
  display: block
.popup
  position: fixed
  display: none
  z-index: 9
  width: 350px
  max-width: 350px

  background-color: #fff
  top: 20%
  left: 0
  right: 0
  margin: 0 auto
  padding: 40px
  text-align: center
  -webkit-box-shadow: 0px 0px 48px -2px rgba(0,0,0,0.14)
  -moz-box-shadow: 0px 0px 48px -2px rgba(0,0,0,0.14)
  box-shadow: 0px 0px 48px -2px rgba(0,0,0,0.14)
.popup__close-button
  position: absolute
  right: 7px
  top: 10px
  background: none
  border: none
.popup__heading
  font-weight: 900
  font-size: 16px
  max-width: 80%
  margin: 0 auto
  margin-bottom: 15px
  text-transform: uppercase
.popup__desc
  max-width: 230px
  margin: 0 auto
  margin-bottom: 30px
  text-align: center
  font-size: 14px
.popup__name,
.popup__phone,
.popup__email
  padding: 22px 25px
  border: none
  background-color: #fafafa
  margin: 4px
  width: 100%
  margin: 0 auto
  margin-bottom: 8px
  border-radius: 6px
  outline: none
  display: block
.popup__button
  display: block
  margin-top: 20px
  width: 100%
  line-height: 60px
  background-color: $accent-color
  border: none
  color: #fff
  font-weight: 700
  font-family: $default-font
  letter-spacing: 0.7px
  border-radius: 6px
*::-webkit-input-placeholder
  color: #99999f
  font-family: $default-font
*:-moz-placeholder
	color: #99999f
  font-family: $default-font
*::-moz-placeholder
	color: #99999f
  font-family: $default-font
*:-ms-input-placeholder
	color: #99999f
  font-family: $default-font
@import "media"
